# Files
*.Rproj
*.geojson
*.parquet
.DS_Store
.RData
.Rhistory
.Rproj.user
.Ruserdata
package*.json

# Directories
logs/
node_modules/
venv/

# Ignore most CSVs, except those that are used as dbt seeds
*.csv
!dbt/seeds/**/*.csv
