# All available hooks: https://pre-commit.com/hooks.html
repos:
  - repo: https://github.com/sqlfluff/sqlfluff
    rev: 3.1.0
    hooks:
    -   id: sqlfluff-lint
    -   id: sqlfluff-fix
  - repo: https://github.com/tconbeer/sqlfmt
    rev: v0.19.2
    hooks:
      - id: sqlfmt
        entry: >-
          sqlfmt -v dbt
            --exclude dbt/venv/**/*
            --exclude dbt/.venv/**/*
            --exclude dbt/models/**/*
            --exclude dbt/target/**/*
            --exclude dbt/dbt_packages/**/*
            --exclude dbt/dbt_modules/**/*
        files: ^dbt/
        language_version: python
        additional_dependencies: ['.[jinjafmt]']
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.5.5
    hooks:
      # Python linter. Ruff recommends running this before the formatter to
      # avoid conflicts when using the --fix flag
      - id: ruff
        args:
          - --fix
      # Formatter
      - id: ruff-format
