name: test-open-data-assets

on:
  workflow_dispatch:
  schedule:
    # Every third day of the month at 9am (2pm UTC-5). This schedule
    # makes sense since most of our assets are configured to refresh on the
    # first day of the month. Some assets have a biweekly schedule such
    # that they also refresh in the middle of the month, but we ignore that
    # in order to make scheduling simpler.
    - cron: '0 14 3 * *'

jobs:
  test-open-data-assets:
    runs-on: ubuntu-latest
    # These permissions are needed to interact with GitHub's OIDC Token endpoint
    # so that we can authenticate with AWS
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup dbt
        uses: ./.github/actions/setup_dbt
        with:
          role-to-assume: ${{ secrets.AWS_IAM_ROLE_TO_ASSUME_ARN }}

      - name: Compile dbt manifest
        run: dbt compile
        working-directory: ${{ env.PROJECT_DIR }}
        shell: bash

      - name: Test that open data row counts match Athena views
        run: python ../.github/scripts/test_open_data_assets.py target/manifest.json
        working-directory: ${{ env.PROJECT_DIR }}
        shell: bash

      - name: Get current time
        if: failure()
        run: echo "TIMESTAMP=$(date -u +"%Y-%m-%dT%H:%M:%S")" >> "$GITHUB_ENV"
        shell: bash

      - name: Send failure notification
        if: failure()
        uses: ./.github/actions/publish_sns_topic
        with:
          sns_topic_arn: ${{ secrets.AWS_SNS_NOTIFICATION_TOPIC_ARN }}
          subject: "Open data asset tests failed for workflow run: ${{ github.run_id }}"
          body: |
            Open data asset tests failed for workflow ${{ github.run_id }}, run on ${{ env.TIMESTAMP }} UTC

            Link to failing workflow:
            https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}
